.Main-chat
  .Main-chat__group-info
    .Main-chat__group-info__left-item
      .Main-chat__group-info__left-item__name
        test
      .Main-chat__group-info__left-item__member
        member : masa
    .Main-chat__group-info__right-item
      = link_to "#", class: "Main-chat__group-info__right-item__edit" do
        Edit

  .Main-chat__message-list
    .Main-chat__message-list__message-blank
    .Main-chat__message-list__message-info
      .Main-chat__message-list__message-info__name
        masa
      .Main-chat__message-list__message-info__daytime
        2019/11/20(Wed) 17:43:01
    .Main-chat__message-list__message-text
      おはよう
    .Main-chat__message-list__message-info
      .Main-chat__message-list__message-info__name
        masa
      .Main-chat__message-list__message-info__daytime
        2019/11/20(Wed) 17:43:34
    .Main-chat__message-list__message-text
      今日は夜から雨

  .Main-chat__message-form
    .Form
      .Form__contents
        %input.Form__contents__input-tag{type: "text", :placeholder => "type a message"}
        %label.Form__contents__image
          = icon('fas', 'image')
          %input{type: "file",class: "file"}
      %input.Form__submit{:type => "submit", :value => "Send"}
        

        